@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  /* Zinc 950 */

  --card: #ffffff;
  --card-foreground: #09090b;

  --popover: #ffffff;
  --popover-foreground: #09090b;

  --primary: #4f46e5;
  /* Indigo 600 */
  --primary-foreground: #f8fafc;
  /* Slate 50 */

  --secondary: #f4f4f5;
  /* Zinc 100 */
  --secondary-foreground: #18181b;
  /* Zinc 900 */

  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  /* Zinc 500 */

  --accent: #f4f4f5;
  --accent-foreground: #18181b;

  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;

  --border: #e4e4e7;
  /* Zinc 200 */
  --input: #e4e4e7;
  --ring: #4f46e5;

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    /* Zinc 950 */
    --foreground: #fafafa;
    /* Zinc 50 */

    --card: #09090b;
    --card-foreground: #fafafa;

    --popover: #09090b;
    --popover-foreground: #fafafa;

    --primary: #6366f1;
    /* Indigo 500 */
    --primary-foreground: #fafafa;

    --secondary: #27272a;
    /* Zinc 800 */
    --secondary-foreground: #fafafa;

    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    /* Zinc 400 */

    --accent: #27272a;
    --accent-foreground: #fafafa;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;

    --border: #27272a;
    --input: #27272a;
    --ring: #818cf8;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 4px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}